body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
header{
    justify-content: center;
    align-items: center;
}
#title{
    font-size: 38px;
    text-align: center;
    margin: 20px;
    color: white;
}
#edu{
    border-top: 5px white solid;
    border-left: 5px white solid;
    padding: .3rem 0 0 .3rem;
}
#zen{
    border-right: 5px white solid;
    border-bottom: 5px white solid;
    padding: 0 .3rem .3rem 0;
}

.navi{
    width:  100%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
}
p{
    font-size: 24px;
    color: white;
}
p a{
    text-decoration: underline;
    color: white;
    margin-bottom: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

form label, form input, form button {
    display: block;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
